<%= form_tag(@user, { class: "signup_form" } )do %>
<h2>Sign Up Here!</h2>
    <% if @user.errors.any? %>
        <div id="error_message">
            <h4>The following errors have occurred:</h4>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @user.errors.empty? %>
      <div class="field">
    <% else %>
        <div class="field_with_errors">
    <% end %>
        <%= form_for @user, url:'/signup' do |f| %>

            <%= f.text_field :name, placeholder: true %><br><br>

            <%= f.email_field :email, placeholder: true %><br><br>

            <%= f.password_field :password, placeholder: true %><br><br>

            <p>Immediately add a wing to your collection at signup!</p>

            <%= f.fields_for :wings do |wing| %>

            <%= wing.text_field :style, placeholder: true, optional: true %><br><br>

                <%= wing.text_field :flavor, placeholder: true, optional: true %><br><br>

                <%= wing.label :name %>
                <%= wing.collection_select :restaurant_id, Restaurant.all, :id, :name, prompt: "Please Select One" %><br><br>

            <% end %>


            <%= f.submit "Sign Up" %>    
        <% end %>
    </div>
       
<% end %>
<div class="Login">
 <p>Already have an account? Login <%= link_to "here.", "/" %>
</div>