<div class="welcome">
    <h1>Welcome <%= current_user.name %>!</h1>
</div>


<div class="links">
    <p>
        <%= link_to 'Add a Wing to Your Collection', new_user_wing_path(@user) %> |
        <%= link_to 'Add a Restaurant', new_restaurant_path %> |
        <%= link_to 'See List of Users', users_path %> |
        <%= link_to 'See your wing collection', user_wings_path(current_user) %> |
        <%= link_to 'Restaurant with the Most Vists', restaurants_path %> |
        <%= link_to 'log Out', sessions_path, method: :delete, data: { confirm: "Are you sure you want to logout?" } %><br>
    </p>
</div>