<%= form_tag(@restaurant, { class: "restaurant_form" } ) do %>
    <h1>Add a Restaurant</h1>
    <% if @restaurant.errors.any? %>
        <div id="error_message">
            <h4>The following errors have occurred:</h4>
            <ul>
                <% @restaurant.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @restaurant.errors.empty? %>
        <div class="field">
    <% else %>
        <div class="field_with_errors">
    <% end %>
            <%= form_for(@restaurant) do |f| %>
                <%= f.text_field :restaurant_data, placeholder: true %>
                <%= f.submit "Add Restaurant" %><br><br>
            <% end %>
        </div>
        <% end %>

<div class="go_back_link">
    <%= link_to "go back", user_path(current_user.id) %>
</div>