<div class="wing_details">
    <h1><%= @user.name %>'s Wing Collection Details </h1>
    <p><h3>Style: <%= @wing.style %></h3></p>
    <p><h4>Flavor: <%= @wing.flavor %></h4></p>
    <p><h4>Restaurant: <%= @wing.restaurant.restaurant_data %></h4></p>
</div>

<% if @user == current_user %>
<div class="links">
    <%= link_to "edit wing details", edit_user_wing_path(current_user.id, @wing) %> |
    <%= link_to "delete wing", @wing, method: :delete, data: { confirm: "Are you sure you want to delete this wing?" } %><br><br>
</div>
<% end %>

